{% extends "KabasisWebApp/base.html" %}

{% load static %}

{% block content %}
<style>
    .confirmation-message {
        background-color: #f8f9fa; /* Color de fondo ligero, puedes ajustarlo a tu preferencia */
        border-radius: 10px; /* Bordes redondeados */
        padding: 40px; /* Espaciado interno */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra sutil */
        text-align: center; /* Centrado de texto */
        max-width: 600px; /* Ancho máximo para dispositivos grandes */
        margin: 40px auto; /* Centrado horizontal y margen superior e inferior */
    }
    .confirmation-message h2 {
        color: #333; /* Color del texto, ajustable a tus necesidades */
        margin-bottom: 20px; /* Espacio debajo del título */
    }
    .confirmation-message p {
        font-size: 16px; /* Tamaño de fuente del párrafo */
        color: #555; /* Color del texto del párrafo */
    }
    .confirmation-message a {
        color: #007bff; /* Color de los enlaces, ajustable */
        text-decoration: none; /* Sin subrayado */
    }
    .confirmation-message a:hover {
        text-decoration: underline; /* Subrayado al pasar el mouse */
    }
</style>

<section class="page-section cta" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="container mt-5">
        <div class="confirmation-message">
            <h2>Contraseña restablecida con éxito</h2>
            <p>Tu contraseña ha sido cambiada correctamente. Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a> con tu nueva contraseña.</p>
        </div>
    </div>
</section>
{% endblock %}
