{% extends "KabasisWebApp/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="page-section cta" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6" style="background-color: white; padding: 20px; border-radius: 10px;">
                <h2 style="text-align: center; color: black;">Restablecer contraseña</h2>
                <form id="resetPasswordForm" method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div id="passwordMismatchError" class="alert alert-danger d-none" role="alert">
                        Las nuevas contraseñas no coinciden.
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Cambiar mi contraseña</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
document.getElementById("resetPasswordForm").addEventListener("submit", function(event) {
    var form = this;

    // Validar si las contraseñas coinciden antes de enviar el formulario
    if (!form.checkValidity()) {
        event.preventDefault(); // Detener el envío del formulario si hay errores de validación
        form.classList.add('was-validated'); // Aplicar clases de validación de Bootstrap
        return;
    }

    var newPassword = form.querySelector("#id_new_password").value;
    var confirmPassword = form.querySelector("#id_confirm_password").value;
    if (newPassword !== confirmPassword) {
        // Mostrar mensaje de error si las contraseñas no coinciden
        document.getElementById("passwordMismatchError").classList.remove("d-none");
        event.preventDefault(); // Detener el envío del formulario
        return;
    }

    // Si las contraseñas coinciden, continuar con el envío del formulario
    var formData = new FormData(form);
    fetch(form.action, {
        method: form.method,
        body: formData
    })
    .then(function(response) {
        if (response.ok) {
            // Muestra el mensaje de éxito utilizando SweetAlert2
            Swal.fire({
                title: 'Contraseña restablecida con éxito',
                text: 'Tu contraseña ha sido cambiada correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.',
                icon: 'success'
            });
        } else {
            // Muestra un mensaje de error si la respuesta del servidor es incorrecta
            alert("Hubo un error al restablecer la contraseña.");
        }
    })
    .catch(function(error) {
        console.error('Error:', error);
    });
});
</script>
{% endblock %}
